[Unit]
After=networking.service

[Service]
Type=forking
WorkingDirectory=/home/thedoginthewok/sounddetector
ExecStart=/home/thedoginthewok/sounddetector/sounddetectorlistener.sh 2>/dev/null

[Install]
WantedBy=default.target
