[Unit]
After=networking.service

[Service]
WorkingDirectory=/home/thedoginthewok/home/sounddetector
ExecStart=/home/thedoginthewok/home/sounddetector/sounddetectorlistener.sh 2>/dev/null

[Install]
WantedBy=default.target
