[Unit]
After=networking.service

[Service]
User=thedoginthewok
Group=thedoginthewok
WorkingDirectory=/home/thedoginthewok/sounddetector
ExecStart=/home/thedoginthewok/sounddetector/sounddetector.py

[Install]
WantedBy=default.target

